<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for booking a flight with example.com, <%= @passenger.name %></h1>
    <p>
      You have successfully signed up to example.com,
      your booking_id is: <%= @passenger.booking_id %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks again for booking and have a safe flight!</p>
  </body>
</html>
