<div id="<%= dom_id flight %>">
  <p>
    <strong>Date:</strong>
    <%= flight.date %>
  </p>

  <p>
    <strong>Departure airport:</strong>
    <%= flight.departure_airport_id %>
  </p>

  <p>
    <strong>Arrival airport:</strong>
    <%= flight.arrival_airport_id %>
  </p>
</div>
